.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: transparent !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.nav {
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  max-width: 1260px;
  background-color: transparent !important;
}

.navLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  transition: all 0.15s ease-in-out;
}

.navMiddle {
  display: flex;
  margin-left: 12px;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 16px;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.homeLink:hover {
  cursor: pointer;
  opacity: 0.8;
}

.navRight {
  display: flex;
  flex-direction: row;
  gap:19px;
  align-items: center;
  justify-content: center;
}

.profileImage {
  margin-top: 6px;
  transition: all 0.15s ease-in-out;
}

.profileImage:hover {
  cursor: pointer;
  opacity: 0.8;
}

.buttonLink:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}
.hideMenu {
  display: none;
}

.hideMenuList {
  position: fixed;
  visibility: visible;
  display:flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  left: 0.2rem;
  top:5rem;
  padding: 1rem 0 1rem 0;
  margin: auto;
  z-index: 10;
  border-radius:0 0 10% ;
  background-color: rgb(68, 16, 82);
  width: 100px;
  height: 120px;
}

/* Sreens less than 720px */
@media (max-width: 500px) {
  
  .navMiddle {
    display: none !important;
  }
  .hideMenu {
    display: block;
  }
  .nav{
    justify-content: space-around;
  }
  .navRight{
    gap: 4px;
  }
}
